
h1{
font-family:'Helvetica‍';
font-style: italic;
font-weight: lighter;
font-size:35px;
text-align:center;
color: rgb(20, 19, 19);  
padding: 2rem;
}

sup{
    font-size: 15px;
}

body{
padding: 0%;
margin: 0%;
}
    .navbar{
        background-color: white;
       

    }
       /*Navbar*/
   .navbar ul{
       list-style-type: 0;
       margin: 0;
       padding: 0;
   }

    .navbar ul li{
        display: inline-block;
        color: wheat;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
        color:black;
        padding: 0.5rem;
        margin: 1rem;
        text-align: right;
        text-decoration: 1rem;
        text-decoration-style: solid;
    }

    a{
        text-decoration: none;
        list-style: none;
        color:black;
    }
.container{
    display: flex;
}
h3{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align:center;
    line-height: 150%;
    }

footer{
background-color: darkslategrey;
}

footer ul{
text-align: left;
}
footer ul li{
display: inline-block;
border: 0.5rem light black;
padding: 0.5rem;
margin: 1rem;
border-radius: 10px;
color: black;
}

a{
    display: block;
    padding: 1 rem;
    text-decoration: none;
    color: black;
}    
   a:link{
  color: black;
}
a:visited{
  border:black;
  border-radius: 10px;
}
a:focus{
    text-decoration: black
}
a:hover{
    color:turquoise;
    text-decoration: underline;
    font-weight: bold;
}

@media
Screen and (max-width: 600px){
    .navbar{
        width: 100%;
    }
    ul{
        width: 100%;
    }
     
    footer{
        width: 100%;
    }
    .container{
        width: 100%;
        flex-direction: column;
    }
    img{
        max-width: 100%;
    }

}

